@import  'https://fonts.googleapis.com/css?family=Oswald:400,300&subset=latin,latin-ext';


.main {
    width: 960px;
    margin:0 auto;
    
    
    }

.menu { 
    padding-top: 24px;
    width: 300px;
    height: 600px;
    float:left; background-color: white;  
    }

.content{ width: 660px; 
    height: 600px; 
    float:left; 
    background-color: gold; 
    
    }

div{
    text-align: left;
    font-family: oswald; 
}

p{
    margin-left: 1%;
    margin-right: 1%;
    padding: 1%;
    font-weight: 20;
    text-align: justify;
    font-family: oswald;
}

.logo {
    
    
    cursor: pointer;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    font-size: 200%;
    
}
.logo:hover {

    color: rgb(100, 100, 100);
}

.title {
    
    text-transform: uppercase;
    color: rgb(112, 112, 112);
    font-weight: 100;
}
.footer {
    text-align: right;
    background-color:rgba(200, 170, 0, 0.5);
    
}
.footer a{
    float: inline-end;
    text-decoration: none;
    margin-right: 5px;
    color: black;
    background-color:rgba(0, 0, 0, 0);
    font-weight: 300;
    
}

.footer a:hover{
    color:rgb(75, 75, 75);
    text-decoration: underline;
}
body{
    background-color: rgb(220,220,220)
}

ul li,ul li a{
    height: 22px;
    width: 150px;
    color: black;
    list-style: none;
    text-transform: uppercase;
    font-family: oswald;
    font-weight: 100;
    padding-left: 5px;
    text-decoration: none;
    cursor: pointer;
    padding-top: 5px;
    
    
}
ul li a:hover{
    color: rgb(112,112,112);
}