@import  'https://fonts.googleapis.com/css?family=Oswald:400,300&subset=latin,latin-ext';

a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: rgb(112, 112, 112);
}

.main {
    width: 1060px;
    margin:0 auto;
    
    
    }

.menu { 
    padding-top: 24px;
    width: 300px;
    height: 600px;
    float:left; background-color: white;  
    }

.content-bg{ 
    width: 760px; 
    height: 600px; 
    float:left; 
    background-color: rgb(113, 83, 136); 
    color: white;
    }

.content {
    
    align-content: center;
    margin: 50px;
    padding: 30px ;
    margin-top: 20px;
    background-color:rgb(80, 60, 100) ;
    
}

.content-a{
    color: white;
    font-size: 25px;
    font-weight: 400;
}
.content-a:hover{
    color:rgb(80, 60, 100);
    
}
div{
    text-align: left;
    font-family: oswald; 
}


.logo {
    
    
    cursor: pointer;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    font-size: 200%;
    
}
.logo:hover {

    color: rgb(100, 100, 100);
}

.title {
    
    text-transform: uppercase;
    color: rgb(112, 112, 112);
    font-weight: 100;
}
.footer {
    text-align: right;
    background-color:rgba(113, 83, 136, 0.5);
    
}
.footer a{
    float: inline-end;
    text-decoration: none;
    margin-right: 5px;
    color: black;
    background-color:rgba(0, 0, 0, 0);
    font-weight: 300;
    
}

.footer a:hover{
    color:rgb(75, 75, 75);
    text-decoration: underline;
}
body{
    background-color: rgb(220,220,220)
}

ul li,ul li a{
    height: 22px;
    width: 150px;
    color: black;
    list-style: none;
    text-transform: uppercase;
    font-family: oswald;
    font-weight: 100;
    padding-left: 5px;
    text-decoration: none;
    cursor: pointer;
    padding-top: 5px;
    
    
}
ul li a:hover{
    color: rgb(112,112,112);
}

h3 {
    font-weight: 400;
}